 # CODEOWNERS
# Lines are <pattern> <owner>
# Use individual usernames (for personal repos).

docs/**          @md-anuar-hosen
src/auth/**      @md-anuar-hosen
openapi/**       @md-anuar-hosen
.github/**       @md-anuar-hosen
*                @md-anuar-hosen
